1.Getting familiar with pandas.

In [2]:
import pandas as pd

In [ ]:
# Creating a Series from a list
series = pd.Series([10, 20, 30, 40, 50])
print("Series from list:")
print(series)

In [ ]:
# Creating a DataFrame from a dictionary
data = {
    'Name': ['sudha', 'vardhan', 'sasank', 'sai'],
    'Age': [25, 32, 23, 45],
    'City': ['New York', 'india', 'Chicago', 'UK']
}
df = pd.DataFrame(data)
print("\nDataFrame from dictionary:")
print(df)

Operations on Dataframes:

Selecting data(single column and multiple column):

In [ ]:
age_column = df['Age']
print("\nSelected column (Age):")
print(age_column)

# Selecting multiple columns
subset = df[['Name', 'Age']]
print("\nSubset of DataFrame:\n", subset)

Filtering data:

In [ ]:
#Based on a condition
filtered_df = df[df['Age'] > 30]
print("\nFiltered DataFrame (Age > 30):")
print(filtered_df)

Modifying of data:

In [ ]:
df.loc[0, 'Age'] = 35  # Update a single value
print("\nDataFrame after modifying age of the first entry:\n", df)

2. Data Handling with Pandas

In [ ]:
#create df with missing values
data_with_missing = {
    'Product': ['A', 'B', 'C', None],
    'Price': [100, 200, None, 400]
}
df_missing = pd.DataFrame(data_with_missing)
print("\nDataFrame with missing values:")
print(df_missing)

Handling

In [ ]:
df_filled = df_missing.fillna(0)
print("\nDataFrame after filling missing values with 0:")
print(df_filled)

Checking missing data

In [ ]:
print("\nDataFrame with missing values:\n", df_with_missing)
print("\nChecking for missing data:\n", df_with_missing.isnull())

Conversion of data types:

In [ ]:
df['Age'] = df['Age'].astype(float)
print("\nDataFrame with 'Age' converted to float:")
print(df)

3. Data Analysis with Pandas

In [ ]:
print("\nSummary statistics of the DataFrame:")
print(df.describe())

Grouping Data and Applying Aggregate Functions:

In [ ]:
grouped_df = df.groupby('City').agg({'Age': 'mean'})
print("\nGrouped data by City with mean Age:")
print(grouped_df)

Merging two dataframes

In [ ]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Salary': [70000, 80000, 90000]})
merged_df = pd.merge(df1, df2, on='ID', how='outer')
print("\nMerged DataFrame:")
print(merged_df)

Concatenation

In [ ]:
df3 = pd.DataFrame({'Name': ['Eve', 'Frank'], 'Age': [29, 36]})
concatenated_df = pd.concat([df, df3], ignore_index=True)
print("\nConcatenated DataFrame:")
print(concatenated_df)

4.Application in Data Science

Efficiency: Pandas is built on top of NumPy and provides optimized performance for data manipulation tasks.

Ease of Use: Pandas offers an intuitive and user-friendly API for data manipulation, making complex tasks simpler and faster.

Integration: Pandas integrates well with other Python libraries such as Matplotlib, Seaborn, and Scikit-learn, enhancing its utility in data science workflows.

Handling Large Datasets: Pandas allows efficient handling of large datasets, enabling data scientists to perform filtering, merging, and aggregation tasks quickly.

Real-world examples:

Data Cleaning: Data scientists often use Pandas to clean datasets by handling missing values, removing duplicates, and converting data types. For example, filling missing values with fillna() or dropping them with dropna().

Exploratory Data Analysis (EDA): Pandas is used to summarize data, visualize trends, and explore relationships between variables. Functions like describe(), groupby(), and plot() are commonly used for EDA.

Time Series Analysis: In finance and economics, Pandas is used for time series data analysis, allowing data scientists to resample, shift, and manipulate time series data effectively.

Conclusion

By working through the examples above, you will gain a solid understanding of how Pandas can be used for data handling and analysis in data science. Pandas is a powerful tool that simplifies data preparation and analysis tasks, making it indispensable for data science professionals dealing with real-world data.